/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/05/2021, 04:21:37 PM
    Author     : joela
*/

body{
    height: 100vh;
    padding-top: 4rem;
    background: white;
}

/*Navbar*/
.header {
    position: relative;
    width: 100%;
}

.header-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.my-navbar{
    background-color: #212529!important;
}

.navbar-brand {
    color: #fff!important;
    font-family: 'Raleway', sans-serif;
    font-size: 170%;
}

.nav-item .nav-link {
    display: block;
    line-height: 36px;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff!important;
    transition: 0.15s;
}

.nav-item .nav-link:hover {
    font-weight: bolder;
    color: #fff!important;
}

/*Carousel*/
.container {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

.carousel{
    margin-bottom: 4rem;
    position: relative;
}

.carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    height: 50rem;
    background: #000;
    color: white;
    position: relative;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

/*Grid*/
.title-grid {
    font-family: 'Raleway', sans-serif;
}

.image-grid {
    height: 225px;
    width: 100%;
    display: inline-block;
}

.my-card{
    height: 100%; 
}

/*Forms*/
.form-input{
    position: relative;
}

.form-input input{
    width: 100%;
    height: 45px;
    padding-left: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.13);
    border-radius: 5px;
    outline: none;
    background: transparent;
}

.form-input span{
    position: absolute;
    top: 10px;
    padding-left: 15px;
    color: #212529;
}

.form-input input::placeholder{
    color: black;
    padding-left: 0px;
    font-family: 'Open Sans', sans-serif;
}

.form-input input:focus, .form-input input:valid{
    border: 2px solid #212529;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
    background-color: #007bff !important;
    border: 0px;
}

.form-box button[type="submit"]{
    background-color: #212529;
    color: #fff;
    outline-color: #212529;
}

/*Modal*/
.modal-title {
    font-family: 'Raleway', sans-serif;
}

.modal-footer {
    display: block;
    font-family: 'Open Sans', sans-serif;
}

/*Hr*/
.featurette-divider {
    margin: 5rem 0;
}

/*Footer*/
.footer {
    background-color: #1a181d!important;
    color: #fff;
}
/*screenings*/
.screenings{
    display:none;
}
/*movie-image hover*/
.movie-image:hover + .screenings{
    display:inline-block;
}
.screenings:hover{
    display:inline-block;
}